span {
	text-align: center;
}

.card-content {
	color: black;
}

.signInForm {
	margin-bottom: 0px;
}

#logo {
	height: 80px;
}

#navbar {
	height: 100px;
}

#green {
	background-color: green;
}

#red {
	background-color: red;
}

.signIn {
	max-height: 100px;
}
